name: AWSTest

on:
  push:
    branches:
      - main

jobs:
  test-aws:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::701604998619:role/GitHubAction-AssumeRoleWithAction
          aws-region: us-east-1
      - name: Test AWS commands
        run: |
          aws s3 ls
          ##
